
    <fieldset>
        <legend>All users</legend>
        <input type="button" value="Demo 4" id="buttonDemo4" />
        <br />
        <span id="result4"></span>
    </fieldset>

@section Scripts {
    <script>
            $('#buttonDemo4').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '/Home/AllUsers',
                    success: function (result) {
                        var s = '';
                        for (var i = 0; i < result.length; i++) {
                            s += '<br>Id: ' + result[i].email;
                            s += '<br>Name: ' + result[i].id;
                            s += '<br>------------------';
                        }
                        $('#result4').html(s);
                    }
                });
            });</script>
}

